<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myspringboot.demo.mapper.RoleuserMapper">

    <!-- SQL Query to select a user by ID -->
    <select id="Listallroleuser" resultType="com.myspringboot.demo.model.RoleUser">
        SELECT * FROM role_user
    </select>

    <!-- SQL Query to insert a new user -->
</mapper>