<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myspringboot.demo.mapper.UserMapper">

    <!-- SQL Query to select a user by ID -->
    <select id="Listalluser" resultType="com.myspringboot.demo.model.User">
        SELECT * FROM USERS
    </select>
    <!-- SQL Query to insert a new user -->
    <insert id="saveUser" parameterType="com.myspringboot.demo.model.User">
            INSERT INTO USERS (first_name,last_name,username, email, role_id, password)
            VALUES (#{first_name}, #{last_name}, #{username},#{email}, #{role_id}, #{password});
    </insert>
    <!-- SQL Query to Update user -->
    <update id="updateUser" parameterType="map">
        UPDATE USERS
        SET
        first_name = #{users.first_name},
        last_name = #{users.last_name},
        username = #{users.username},
        email = #{users.email},
        role_id = #{users.role_id}
        password ={users.password}
        WHERE user_id = #{user_id};
    </update>
    <!-- SQL Query to Delete user -->
    <delete id="deleteUser" parameterType="long">
        DELETE FROM USERS WHERE user_id = #{user_id};
    </delete>
</mapper>
